<div class="home">
 <div class="home-details">
  <mat-tab-group color="accent" [animationDuration]="1500">
   <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>looks_one</mat-icon>
    </ng-template>
    <mat-card class="home-card-tab">
     <mat-card-title class="home-card-title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis tempora voluptates placeat vero magnam repellendus dolor perferendis laudantium numquam fugiat est fugit, ullam ex totam rem cumque dicta ducimus sapiente!
     </mat-card-title>
     <mat-card-content>
      <span class="home-card-text">
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, quia sequi ab harum nisi corporis a iste voluptatibus odit aliquid quod perspiciatis quas, in nihil, consequuntur quam nesciunt officiis assumenda?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam expedita, suscipit aperiam quia repellat aliquam quos praesentium necessitatibus dolor provident ad ut incidunt cumque voluptas facere commodi perspiciatis dolorum saepe. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa magnam mollitia quod molestiae exercitationem rem veniam soluta odit necessitatibus fugiat laborum quas, ad ratione repellat id delectus. Tempore, necessitatibus aliquam!
      </span>
      </mat-card-content>
    </mat-card>
   </mat-tab>
   <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>looks_two</mat-icon>
    </ng-template>
    <mat-card class="home-card-tab">
     <mat-card-title class="home-card-title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis tempora voluptates placeat vero magnam repellendus dolor perferendis laudantium numquam fugiat est fugit, ullam ex totam rem cumque dicta ducimus sapiente!
     </mat-card-title>
     <mat-card-content>
      <span class="home-card-text">
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, quia sequi ab harum nisi corporis a iste voluptatibus odit aliquid quod perspiciatis quas, in nihil, consequuntur quam nesciunt officiis assumenda?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam expedita, suscipit aperiam quia repellat aliquam quos praesentium necessitatibus dolor provident ad ut incidunt cumque voluptas facere commodi perspiciatis dolorum saepe. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa magnam mollitia quod molestiae exercitationem rem veniam soluta odit necessitatibus fugiat laborum quas, ad ratione repellat id delectus. Tempore, necessitatibus aliquam!
      </span>
      </mat-card-content>
     </mat-card>
   </mat-tab>
   <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>looks_3</mat-icon>
    </ng-template>
    <mat-card class="home-card-tab">
     <mat-card-title class="home-card-title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis tempora voluptates placeat vero magnam repellendus dolor perferendis laudantium numquam fugiat est fugit, ullam ex totam rem cumque dicta ducimus sapiente!
     </mat-card-title>
     <mat-card-content>
      <span class="home-card-text">
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, quia sequi ab harum nisi corporis a iste voluptatibus odit aliquid quod perspiciatis quas, in nihil, consequuntur quam nesciunt officiis assumenda?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam expedita, suscipit aperiam quia repellat aliquam quos praesentium necessitatibus dolor provident ad ut incidunt cumque voluptas facere commodi perspiciatis dolorum saepe. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa magnam mollitia quod molestiae exercitationem rem veniam soluta odit necessitatibus fugiat laborum quas, ad ratione repellat id delectus. Tempore, necessitatibus aliquam!
      </span>
     </mat-card-content>
    </mat-card>
   </mat-tab>
 </mat-tab-group>
 </div>
</div>